footer {
    background-color: #8C2703;
    color: white;
}

table {
    border: 1px solid lightgray;
    width: 80%;
}

table td, table th {
    padding: 4px;
    text-align: left;
}

table th {
    background-color: white;
    color: #8C2703;
}

input[type="submit"] {
    margin: 8px 0;
    background-color: #0371A6;
    border: 0;
    border-radius: 5px;
    padding: 8px;
    color: white;
}
