<div
  class="card shadow"
  (click)="onClick(piatto.id)"
  [class.not-available]="!isAdminMode && !piatto.available"
>
  <img [src]="piatto.imageUrl" class="card-img-top" [alt]="piatto.title" />
  <div class="card-body">
    <h5 class="card-title">
      {{ piatto.title | titlecase }}
    </h5>
    <p class="card-text">
      {{ piatto.description }}
    </p>
    <ng-container *ngIf="isAdminMode">
      <a class="btn btn-danger me-2" (click)="onPiattoDelete($event, piatto.id)"
        >Delete</a
      >
      <a class="btn btn-warning" (click)="onPiattoEdit($event, piatto)"
        >Edit</a
      ></ng-container
    >
  </div>
  <div class="price">{{ piatto.price | currency : "€" }}</div>
</div>
