<div class="container">
    <section class="menu">
        <div class="row">
            <div class="col-12">
                <h2 class="section-title">I Nostri Piatti</h2>
                <div class="separator"></div>
            </div>
        </div>

        <tnv-menu-section [sectionMenuItems]="antipastiItems" sectionTitle="Antipasti"></tnv-menu-section>
        <tnv-menu-section [sectionMenuItems]="primiItems" sectionTitle="Primi"></tnv-menu-section>
        <tnv-menu-section [sectionMenuItems]="dolciItems" sectionTitle="Dolci"></tnv-menu-section>
    </section>
</div>