@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Pacifico&family=Roboto&family=Titillium+Web&display=swap');


body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Bebas Neue', sans-serif;
}

header {
    background-image: url('../images/site-header.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 4px black;
}

header h1 {
    font-size: 6rem;
    margin: 0;
}

header p {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    margin: 0;
}

section#menu ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    gap: 16px;
    
}

section#menu ul li {
    border: 1px solid #cccccc;
    border-radius: 5px;
    height: 150px;
    width: 280px;
    list-style-type: none;
    padding: 8px;
    box-shadow: 1px 1px 2px lightgray;
}

footer {
    display: flex;
    margin-top: 64px;
    justify-content: space-evenly;
    background-color: #8C2703;
    color: white;
    box-shadow: 0 -3px 5px lightgray;
}

footer section {
    width: 300px;
    margin: 8px;
    padding: 32px;
}

table {
    border: 1px solid lightgray;
    width: 300px;
}

table td, table th {
    padding: 4px;
    text-align: left;
}

table th {
    background-color: white;
    color: #8C2703;
}